
<app-header (logout)="onLogout()" [isUserLogged]="true"></app-header>

<div class="container">
    <h4 class="mt-5">Painel do Administrador - {{ loggedUser.name }}</h4>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card" style="border: 0;">
                <div class="d-grid gap-2 p-2">
                    <button class="btn btn-dark" type="button" [ngClass]="{ 'active': showListUsers }" (click)="onShowListUsers()">Listar Usuários</button>
                    <button class="btn btn-dark" type="button" [ngClass]="{ 'active': showAddUser }" (click)="onShowAddUser()">Adicionar Usuários</button>
                    <button class="btn btn-dark" type="button" [ngClass]="{ 'active': showListClasses }" (click)="onShowListClasses()">Listar Aulas</button>
                    <button class="btn btn-dark" type="button" [ngClass]="{ 'active': showAddClass }" (click)="onShowAddClass()">Criar Aula</button>
                  </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card p-3">
                <app-users-list 
                    *ngIf="showListUsers"
                    [listUsers]="listUsers"
                    (removeUser)="onRemoveUser($event)"
                    (editUser)="openUserEdit($event)"
                ></app-users-list>
                <app-create-user 
                    *ngIf="showAddUser"
                    [updateUserData]="updateUserData"
                    (createUser)="onCreateUser($event)"
                    (updateUser)="onUpdateUser($event)"
                ></app-create-user>
                <app-classes-list 
                    *ngIf="showListClasses && !classData"
                    [classList]="classList"
                    (selectClass)="onSelectClass($event)"
                    (removeClass)="onRemoveClass($event)"
                    (editClass)="openClassEdit($event)"
                ></app-classes-list>
                <app-create-class 
                    *ngIf="showAddClass"
                    [updateClassData]="updateClassData"
                    (createClass)="onCreateClass($event)"
                    (updateClass)="onUpdateClass($event)"
                ></app-create-class>
                <app-class-view 
                    *ngIf="classData"
                    [classData]="classData"
                    (close)="onClose()"
                    (createComment)="createClassesComment($event)"
                ></app-class-view>
            </div>
        </div>

        
    </div>
</div>