<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        Lista de Usuários
    </div>
</nav>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tipo</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList;" [ngClass]="{'block': !user.active}">
            <th>{{ user.name }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <div class="btn-list">
                    <i class="bi bi-pencil" (click)="editUser()"></i>
                    <i class="bi bi-trash" (click)="removeUser()"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>